.button-custom {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  background-color: #ff4081;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-custom:hover {
  background-color: #e91e63;
}

.link-custom {
  color: #ff4081;
  font-weight: bold;
  text-decoration: none;
  transition: color 0.3s ease;
}

.link-custom:hover {
  color: #e91e63;
}
